    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Bd du Coin{% endblock %}</title>
    
	<!-- CSS de Bootstrap compilé et minifié  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
	<!-- CSS pour jquery-ui  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
	
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
	<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
	<!-- JavaScript compilé -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- jquery-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>	
	
    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>
