{% extends 'commun/base.html.twig' %}

{% block principal %} 
<h1>Qui somme nous?</h1>
Nous somme Bd du coin un boutique de bande dessiner pour les vrais passionner de Bd<hr>

<h1>Politique de remboursement</h1>
Puisque vous pourirer numeriser les Bd et nous les ramener nous ne fesont pas de retour sur les Bd<hr>
<h1>Nous Contacter</h1>
Courriel: BdDuCoin@gmail.com<br>
Courrier Postal: 123 Boulvard Stan Lee, Marvel City, Qc J0N 1M0 
{% endblock %}