<!DOCTYPE HTML>
<html lang='fr'>
    <head>
    <!--Inclusion de fichier-->
        {{include('commun/META_CSS_JS_BOOTSTRAP.html.twig')}}
    </head>
    <body>
        <form method="POST">
            Nom d'utilisateur:  <input type="text" name="userConnection"> <br>
            Mot de Passe: <input type="password" name="mpConnection"> <br>
            <input type="submit" name="Soumetre" value="Connection">
        </form>
    </body>
</html>