<!DOCTYPE HTML>
<html lang='fr'>
    
    <head>
    <!--Inclusion de fichier-->
        {{include('commun/META_CSS_JS_BOOTSTRAP.html.twig')}}
                <link rel='stylesheet' href="{{asset('css/corp.css')}}">
    </head>
    <body>
        <div class='container'>
             <!--Affiche l'entête-->
            {{include('Admin/Commun Admin/enTete.html.twig')}}
            {% block principal %} {% endblock %}
             <!--Affiche le pied de page-->
            {{include('commun/pied.html.twig')}}
        </div>
        {% block javaScripts %} {% endblock %}
    </body>
</html>