{% extends 'commun/base.html.twig' %}

{% block principal %} 
<h1>Qui somme nous?</h1>
Nous somme Bd du coin une boutique de bande dessinées pour les vrais passionné de Bd<hr>

<h1>Politique de remboursement</h1>
Aucun remboursement
<h1>Nous Contacter</h1>
Courriel: BdDuCoin@gmail.com<br>
Courrier Postal: 123 Boulevard Stan Lee, Marvel City, Qc J0N 1M0 
{% endblock %}