{% extends 'commun/base.html.twig' %}

{% block principal %} 
<div class='row'>
    <section class='col-3 categorie'>
        <!--Affiche les categories-->
        {{include('menuCategorie.html.twig')}}
        
    </section>
    
    <section class='col-9 catalogue'>
        <!--Affiche les produits-->
        {{include('menuProduit.html.twig')}}
    </section>

</div>
{% endblock %}
