<link rel='stylesheet' href="{{asset('css/piedDePage.css')}}">

    <div class="piedpage">
<div class='row'>
    <div class='col-7 pied'></div>
     <!--Droit d'auteur-->
       &copy; Etienne Desrochers 2020

    </div>
    </div>
</div>